@import url("fonts.css");

html {

}

body {
  font-family: Optima, Monaco, Arial, Helvetica, serif;
  font-size: .875rem;
  margin: 0 auto;
  padding-top: 10px;
}

select, button, input {
  font-family: "Optima", "Georgia", "Times New Roman", serif;
  font-size: 12px;
  vertical-align: middle;
  background-color: white;
}

hr {
  display: block;
  unicode-bidi: isolate;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  width: 200px;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.titleenglish {
  font: 40px "XXII ARABIAN-ONENIGHTSTAND", "Monaco", sans-serif;
  color: darkgreen;
  text-align: justify;
  padding-left: 30px;
  width: 50%;
}

.titlebengali {
  font: 40px "BongshaiMJ", "Monaco", sans-serif;
  color: darkgreen;
  text-align: justify;
  padding-left: 30px;
  width: 50%;
}

.titlearabic {
  font: 60px "Diwani Letter", "Monaco", sans-serif;
  color: darkgreen;
  text-align: right;
  padding-right: 30px;
  width: 50%;
}

.menu {
  font: 18px "Optima", "Georgia", "Times New Roman";
  padding: 3px;
  margin: auto;
  border: 1px solid gray;
  background-color: gainsboro;
  overflow: auto;
}

.menu select, button, input {
  font-family: "Optima", "Georgia", "Times New Roman", serif;
  font-size: 12px;
  vertical-align: middle;
  background-color: gainsboro;
}

.menu .left {
  padding-left: 10px;
  float: left;
}

.menu .right {
  float: right;
  padding-right: 10px;
}

.menu label {
  font: 18px "Optima", "Georgia", "Times New Roman";
  color: darkslategrey;
}

.menu button {
  font: 15px "Optima", "Georgia", "Times New Roman";
  color: darkslategrey;
  border: 0;
  background: transparent;
  outline: none;
  opacity: 1;
}

.menu button:hover {
  opacity: 0.75;
  /* cursor: pointer; */
}

.menu button:active {
  color: darkgray;
}

.menu .active {
  color: darkgray;
}

.menu .inactive {
  color: darkslategrey;
}

.navigation {
  font: 16px "Optima", "Georgia", "Times New Roman";
  padding: 3px;
  margin: auto;
  overflow: auto;
  border-bottom: 1px solid #ccc;
}

.navigation .left {
  padding-left: 10px;
  float: left;
}

.navigation .right {
  float: right;
  padding-right: 10px;
}

.navigation button {
  font: 15px "Optima", "Georgia", "Times New Roman";
  color: darkslategrey;
  border: 0;
  background: transparent;
  outline: none;
  opacity: 1;
}

.navigation button:hover {
  opacity: 0.75;
  /* cursor: pointer; */
}

.navigation button:active {
  color: darkgray;
}

.navigation label {
  font: 15px "Optima", "Georgia", "Times New Roman";
  color: darkslategrey;
}

.navigation select {
  font: 15px "Optima", "Georgia", "Times New Roman";
  color: darkslategrey;
  background: white;
  overflow: hidden;
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  padding: 5px;
  vertical-align: middle;
  border: none;
}

.navigation select:focus {
  outline: none;
}

.content {
  box-shadow: 0 0 10px gray;
}

.content .english {
  font: 18px "Optima", "Georgia", "Times New Roman";
  text-align: justify;
  padding: 5px;
}

.content .bengali {
  font: 18px "AponaLohit", "Monaco", "Times New Roman";
  text-align: justify;
  padding: 5px;
}

.content .arabic {
  font: 40px "Scheherazade", "Times New Roman";
  text-align: right;
  padding: 5px;
}

.meta {
  font: 15px "Optima", "Georgia", "Times New Roman";
  color: black;
  padding: 2px;
  margin: auto;
  border: 1px solid gray;
  background-color: gainsboro;
  text-align: center;
}
