<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Munajat E Maqbool</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootswatch/cosmo/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body class="container-fluid">

<header th:replace="~{fragments/header :: navbar}">Header</header>

<section class="container-fluid py-3 bg-transparent">
    <!-- Content here -->
    <p class="h5">Oops! Something is not right!</p>
    <table class="table table-bordered table-striped">
        <tr>
            <td>Date</td>
            <td th:text="${timestamp}"></td>
        </tr>
        <tr>
            <td>Path</td>
            <td th:text="${path}"></td>
        </tr>
        <tr>
            <td>Error</td>
            <td th:text="${error}"></td>
        </tr>
        <tr>
            <td>Status</td>
            <td th:text="${status}"></td>
        </tr>
        <tr>
            <td>Message</td>
            <td th:text="${message}"></td>
        </tr>
    </table>
</section>

<footer th:replace="~{fragments/footer :: footer-generic}">Footer</footer>

</body>
</html>
