<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Munajat E Maqbool</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootswatch/cosmo/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <!--    <link rel="stylesheet" th:href="@{/webjars/bootstrap-select/css/bootstrap-select.css}">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body class="container-fluid">
<section class="container py-3 card bg-white content">
    <table class="title">
        <tbody>
        <tr>
            <!--            <td class="titlebengali">মুনাজাতে মকবূল</td>-->
            <td class="titleenglish">Munajat e Maqbool</td>
            <td class="titlearabic">مُنَاجَاتِ مَقْبُول</td>
        </tr>
        </tbody>
    </table>

    <div class="container-fluid menu">
        <div class="left">
            <a type="button" class="btn btn-sm" th:href="@{/}" data-toggle="tooltip" data-placement="right" title="Home">
                <i class="fas fa-home ml-0"></i>
            </a>
            <label> | </label>
            <a type="button" class="btn btn-sm" th:href="@{/introduction}" data-toggle="tooltip" data-placement="right" title="Introduction">
                <i class="fas fa-info ml-0"></i>
            </a>
            <label> | </label>
            <a type="button" class="btn btn-sm" th:href="@{/khutbah}" data-toggle="tooltip" data-placement="right" title="Khutbah">
                <i class="fas fa-comment ml-0"></i>
            </a>
            <label> | </label>
            <a type="button" class="btn btn-sm" th:href="@{/about}" data-toggle="tooltip" data-placement="right" title="About">
                <i class="fas fa-question ml-0"></i>
            </a>
        </div>
        <div class="right">
            <div class="left">
                <a type="button" class="btn btn-sm" th:href="@{/(id=${dua.previous})}" data-toggle="tooltip" data-placement="right" title="Previsous">
                    <i class="fas fa-arrow-left ml-0"></i>
                </a>
                <label> | </label>
                <a type="button" class="btn btn-sm" th:href="@{/(id=${dua.next})}" data-toggle="tooltip" data-placement="right" title="Next">
                    <i class="fas fa-arrow-right ml-0"></i>
                </a>
                <label> | </label>
                <select class="border-0" id="day" th:field="*{dua.tags}" data-toggle="tooltip" data-placement="right" title="Day">
                    <option th:each="day : ${days}" th:value="${day}" th:text="${dayMap.get(day).day}">Day</option>
                </select>
                <label> | </label>
                <select class="border-0" id="number" th:field="*{dua.number}" data-toggle="tooltip" data-placement="right" title="Number">
                    <option th:each="number : ${numbersInDay}" th:value="${number}" th:text="${number}">Day</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Content here -->
    <div class="py-3">
        <p class="arabic">[[${dua.arabic}]]</p>
        <hr>
        <p class="english">[[${dua.english}]]</p>
        <hr>
        <p class="bengali">[[${dua.bengali}]]</p>
    </div>
    <div class="container-fluid meta">
        <label> ( [[${dua.id}]] ) </label>
    </div>

</section>
<footer class="footer text-center py-2" th:fragment="footer-generic">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <!--    <script th:src="@{/webjars/bootstrap-select/js/bootstrap-select.js}"></script>-->
    <script th:src="@{/js/main.js}"></script>
    <script>
        $(document).ready(function () {
            $('#day').change(function () {
                const url = "/onday?day=" + $(this).val();
                if (url) { // require a URL
                    window.location.href = window.location.origin + url; // redirect
                }
                return false;
            });

            $('#number').change(function () {
                const url = "/onday?day=" + $('#day').val() + "&number=" + $(this).val();
                if (url) { // require a URL
                    window.location.href = window.location.origin + url; // redirect
                }
                return false;
            });
        });
    </script>
</footer>
</body>
</html>
