<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Munajat E Maqbool</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootswatch/cosmo/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <!--    <link rel="stylesheet" th:href="@{/webjars/bootstrap-select/css/bootstrap-select.css}">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body class="container-fluid">
<section class="container py-3 card bg-white content">
    <table class="title">
        <tbody>
        <tr>
            <!--            <td class="titlebengali">মুনাজাতে মকবূল</td>-->
            <td class="titleenglish">Munajat e Maqbool</td>
            <td class="titlearabic">مُنَاجَاتِ مَقْبُول</td>
        </tr>
        </tbody>
    </table>

    <div class="container-fluid menu">
        <div class="left">
            <a type="button" class="btn btn-sm" th:href="@{/}" data-toggle="tooltip" data-placement="right" title="Home">
                <i class="fas fa-home ml-0"></i>
            </a>
            <label> | </label>
            <a type="button" class="btn btn-sm" th:href="@{/introduction}" data-toggle="tooltip" data-placement="right" title="Introduction">
                <i class="fas fa-info ml-0"></i>
            </a>
            <label> | </label>
            <a type="button" class="btn btn-sm" th:href="@{/khutbah}" data-toggle="tooltip" data-placement="right" title="Khutbah">
                <i class="fas fa-comment ml-0"></i>
            </a>
            <label> | </label>
            <a type="button" class="btn btn-sm" th:href="@{/about}" data-toggle="tooltip" data-placement="right" title="About">
                <i class="fas fa-question ml-0"></i>
            </a>
        </div>
    </div>

    <!-- Content here -->
    <div class="py-3">
        <p class="arabic">
        <h2>[[${title.arabic}]]</h2></p>
        <p class="arabic">[[${basmalah.arabic}]]</p>
        <p class="arabic">[[${content.arabic}]]</p>
        <hr>
        <p class="english">
        <h2>[[${title.english}]]</h2></p>
        <p class="english">[[${basmalah.english}]]</p>
        <p class="english">[[${content.english}]]</p>
        <hr>
        <p class="bengali">
        <h2>[[${title.bengali}]]</h2></p>
        <p class="bengali">[[${basmalah.bengali}]]</p>
        <p class="bengali">[[${content.bengali}]]</p>
    </div>

</section>
<footer class="footer text-center py-2" th:fragment="footer-generic">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <!--    <script th:src="@{/webjars/bootstrap-select/js/bootstrap-select.js}"></script>-->
    <script th:src="@{/js/main.js}"></script>
</footer>
</body>
</html>
